<div>
    <p>Select Profile Picture</p>
    @for(eachPhoto of photos;track $index){

    <div [style.display]="'inline'">

        <!-- @if(!eachPhoto.includes("logo")){

        <img [src]="eachPhoto" [ngClass]="{'photo':true,'show':true}" alt="some photo" (click)="send(eachPhoto)"
            [style.margin]="'20px'">
        } -->


        <img [src]="eachPhoto" [ngClass]="{'photo':true,'show':true,'galleryItem':$index>1}" alt="some photo"
            (click)="send(eachPhoto)" [style.margin]="'20px'">




    </div>
    }
</div>