<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">

  <header>
    <app-header></app-header>
  </header>
  <!-- <section>
    <header style="height: 20%;">
      <app-header></app-header>

    </header>

    <table class="table-bordered table-info table-striped">

      <!-- using attribute selector - observe its not used <selector-name></selector-name> 
       rather its added as attribute of thead like <thead class=''>-->
  <!-- <thead app-table-head></thead>
      <tbody app-table></tbody>
    </table> -->

  <!-- <footer style="height: 20%;">
      <app-footer></app-footer>

    </footer>
  </section>
  <section>
    <app-todo></app-todo>
  </section> -->

  <section>
    <article>
      <app-profile></app-profile>
    </article>
  </section>

</main>



<router-outlet />